/* css */
body {
    background-color: #FFDD00;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-weight: 600;
  }
  

  
  @media (max-width: 450px) {
    h1 {
      font-size: 4rem;
      margin-top: 1.5rem;
    }
  }

  #location{
    text-align: center;
  }

  #sponsor{
    text-align: right;
  }
